<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="..\..\resources\css\main.css">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
<!-- x. Header -->
<div class="container font">
    <div class="row">
        <div class="col-8">
            <h1>E-shop
                <small class="text-muted">tworzenie linków</small>
            </h1>
        </div>
    </div>
    <!-- x. Agent search -->
    <div class="row">
        <div class="col-8">
            <h6>1. Wyszukiwanie agenta w bazie</h6>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-1"></div>
        <div class="col-2">Wyszukaj po:</div>
        <div class="col-5">lista</div>
    </div>
    <div class="row justify-content-start">
        <div class="col-1"></div>
        <div class="col-2">Wartość:</div>
        <div class="col-5"><input type="text" name="agentIdentifier" placeholder="symbol"/></div>
    </div>
    <div class="row justify-content-start">
        <div class="col-1"></div>
        <div class="col-2"></div>
        <div class="col-5"><input type="submit" value="Szukaj"/></div>
    </div>
    <!-- x. Agent data -->
    <div class="row">
        <div class="col-8">
            <h6>2. Dane agenta</h6>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-1"></div>
        <div class="col-2">Symbol agenta:</div>
        <div class="col-5">value</div>
    </div>
    <div class="row justify-content-start">
        <div class="col-1"></div>
        <div class="col-2">NIP:</div>
        <div class="col-5">val</div>
    </div>
    <div class="row justify-content-start">
        <div class="col-1"></div>
        <div class="col-2">WWW:</div>
        <div class="col-5"><input type="text" value="Szukaj"/></div>
    </div>
    <div class="row justify-content-start">
        <div class="col-1"></div>
        <div class="col-2"></div>
        <div class="col-5"><input type="submit" value="Aktualizuj linki"/></div>
    </div>
    <br>
    <!-- x. Footer preview -->
    <div class="row">
        <div class="col-8">
            <h6>3. Podgląd stopki</h6>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-1"></div>
        <div class="col-7">Stopaaa</div>
    </div>
    <br>
    <!-- x. Choose links -->
    <!-- x.x List -->
    <div class="row">
        <div class="col-8">
            <h6>4. Wybierz produkty dla agenta</h6>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-8"><b>TRAVEL</b></div>
    </div>
    <div class="row justify-content-start">
        <div class="col-1 text-right my-auto"><input type="checkbox"></div>
        <div class="col-7 my-auto">Przykładowy link</div>
    </div>
    <!-- x.x Options -->
    <div class="row justify-content-start">
        <div class="col-1"></div>
        <div class="col-2"><input type="button" value="Skopiuj do schowka"></div>
        <div class="col-2"><input type="button" value="Utwórz maila"></div>
    </div>
    <!-- x. Footer -->
    <div class="row">
        <div class="col-8">
            <h6>Footer</h6>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
